*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#header{
    /* position: fixed;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
}

#header-img {
    max-width: 100%;
    width: 17%;
    height: auto;
}
#nav-bar ul {
    width: 50%;
    align-items: center;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}